# OSX
*.DS_Store
*__MACOSX

# participant data
/stimulus-creation/experiment/logs/*
/stimulus-creation/preprocessing-assignment/lists/*
/stimulus-creation/preprocessing-assignment/speakers.txt
/stimulus-creation/preprocessing-assignment/definitions.txt
/stimulus-creation/preprocessing-assignment/fillers.txt
/experiment/logs/*
/experiment/logs/data/*
/experiment/stimuli/definitions.txt
/experiment/stimuli/fillers.txt
/experiment/stimuli/speakers.txt
/experiment/stimuli/txt/*
/experiment/stimuli/audio/*

# stimulus files
*.wav
*.WAV
*.reapeaks